body {
  font-family: courier;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  position: relative;
  display: block;
}

.signupImg {
  background: url("../images/we_want_you_resize.jpg") no-repeat center center;
  width: 400px;
  height: 450px;
  margin: 0 0 0 280px;
}

#SignupForm {
  text-align: center;
}

#SignupForm > div {
  margin: 10px 0;
}

input {
  padding: 0;
  display: inline-block;
  text-align: center;
  font-family: courier;
}

input[type="text"] {
  width: 285px;
  height: 35px;
  font-size: 25px;
}

input[type="submit"] {
  width: 200px;
  height: 100px;
}